{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
<h1>Utilisateur</h1>
    <h2>{{ user.username }}</h2>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ user.Description }}</td>
            </tr>
        </tbody>
    </table>
    {{ render_chart(chart, {'class': 'my-chart'}) }}

{% if projets is not empty %}
    <table class="table"> 

    <h2>Projets proposé par l'utilisateur</h2>
    <tbody>
            {% for projet in projets %}
                <tr>
                    <td>{{ projet.name }}</td>
                    <td>{{ projet.langcode }}</td>
                    <td>
                        <a href="{{ path('show_projet', {'id':projet.id}) }}">
                            <button>Afficher le projet</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if projet_traduits is not empty %}
    <table class="table">

        <h2>Projets traduit par l'utilisateur</h2>
        <tbody>
        {% for projet_traduit in projet_traduits %}
            <tr>
                <td>{{ projet_traduit.name }}</td>
                <td>{{ projet_traduit.langcode }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}

{% if langhasuser is not empty %}
    <table class="table">
        <h2>Langues de l'utilisateur</h2>
        <tbody>
            {% for langhasuser in langhasuser %}
                <tr>
                    <td>{{ langhasuser.langcode }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}


    <a href="{{ path('app_user_index') }}">back to list</a>

    <a href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
    {{ knp_pagination_render(projets) }}
    {{ knp_pagination_render(projet_traduits) }}
{% endblock %}
