<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" type="text/css" href="/css/base.css"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
                {% if app.user %}
                    <div>
                        <a href="{{ path('app_logout') }}">
                        <button >Log Out</button>
                        </a>
                        <a href="{{ path('app_user_index') }}"><button >Profils</button></a>
                        <a href="{{ path('home_projet') }}"><button >Projet</button></a>
                        <a href="{{ path('new_projet') }}"><button >Nouveau Projet</button></a>

                    </div>
                {% endif %}
                {% block body %}{% endblock %}
            {% endblock %}
        </div>
    </body>
</html>
